@tailwind base
@tailwind components
@tailwind utilities


$custom-height: 74px //высота header

:root
  --custom-height: #{$custom-height}

.focus-visible-custom-class
    outline: 1px solid white
    outline-offset: 3px



.svg-icon-heart
    height: 24px
    width: 24px
    transition: fill 0.1s
    fill: #378bae
    &:hover
        fill: #3fabd9
        // background:

    // fill="#1c64f2"

.svg-icon-message
    height: 24px
    width: 24px
    transition: fill 0.1s
    fill: #378bae
    &:hover
        fill: #3fabd9

        // background: red

.svg-icon-observ
    height: 24px
    width: 24px
    transition: fill 0.1s
    fill: #378bae
    &:hover
        fill: #7BB6FF

        // background: red

.link-no-underline
    text-decoration: none
.post-wrapp_left
    position: relative
    max-width: 25%
    height: 400px
    overflow: hidden
    &:hover
        .post-wrapp__background_black
            opacity: 0.1
        .wrapp-icon
            opacity: 1

    .post-wrapp__background_black
        position: absolute
        width: 100%
        height: 100%
        background-color: #000000
        opacity: 0

    .wrapp-icon
            opacity: 0
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 45px
            height: 45px
            border: 2px solid #FFFFFF
            border-radius: 22px

    i
        opacity: 1
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 26px
        color: #FFFFFF

    a
        display: block
        width: 100%
        height: 100%
    .post-img_left
        width: 100%
        height: 100%
        object-fit: cover

    //Активная ссылка
.active-link
    @apply text-blue-500 font-bold

    //работа с icons blade
.custom-icon-blade-heart
    &:hover
        path
            fill: #C0392B

.icon-blade-disable-hover
    &:hover
        background: none
        color: inherit
        fill: #378bae
        transform: none







[data-collapse-navmenu="buttonBurger__wrapp"]
    display: hidden






